
* {
margin: 0;
padding: 0;
box-sizing: border-box;
  
}
.title {
  
text-align: center;
margin: 0;
padding: 0;
background-image: url('/img/back.jpg');
background-size: cover;
background-position: center;
font-size: 150px;
font-style: italic;
font-variant: small-caps;
}

.navbar {
display: flex;
justify-content: center;
background-color: #310569;
}

.navbar ul {
margin: 0;
display: flex;
list-style-type: none;
}

.navbar ul li {
margin: 0;
padding: 10px;
}

.navbar ul li a {
margin: 0;
text-decoration: none;
color: black;
}

.logo {

height: 55px;
}
.txt{
color: white;
font-size: 35px;
}
a{
color: white;
}